body {
  font-family: sans-serif;
}

.user-search-container {
  /* display: flex; */
  position: relative;
}

.user-search-input {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.user-search-input input {
  border: none;
  height: 20px;
  padding: 5px;
}

.user-search-input input:focus {
  outline: none;
}

.suggestions-list {
  max-height: 300px;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
}

.suggestions-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestions-list li:last-child {
  border-bottom: none;
}

.suggestions-list li:hover {
  background-color: #ccc;
}

.suggestions-list li img {
  height: 20px;
}

.user-pill {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 16px;
  cursor: pointer;
}

.user-pill img {
  height: 100%;
}

.suggestions-list li.active {
  background-color: #ccc;
}


/* CSS for Login Form */

/* Form container */
.ui-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Form fields */
.field {
  margin-bottom: 20px;
}

/* Label styles */
.field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Input styles */
.field input[type="text"],
.field input[type="email"],
.field input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  /* Make sure padding and border don't increase the width */
}

/* Button styles */
.ui-button-submit {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  /* Green */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Button hover effect */
.ui-button-submit:hover {
  background-color: #45a049;
}

/* Divider styles */
.ui_divider {
  margin: 20px 0;
  border-top: 1px solid #ccc;
}

/* Header styles */
h1 {
  text-align: center;
}

/* Remove default margins and paddings */
body,
html {
  margin: 0;
  padding: 0;
}

/* Center align form */
form {
  text-align: center;
}